    <h1>Hello, world!</h1>
    <div class="row">
      <div class="col-xs-12 col-md-3" ic-get-from="/pull-requests" ic-trigger-on="load">
        <i class="fa fa-spinner fa-spin fa-2x"></i> Loading Pull Requests...
      </div>
      <div class="col-xs-12 col-md-3">.col-xs-12 .col-md-3</div>
      <div class="col-xs-12 col-md-3">.col-xs-12 .col-md-3</div>
      <div class="col-xs-12 col-md-3">.col-xs-12 .col-md-3</div>
	</div>
  </body>
</html>