    <ul id="todo-list">
        #foreach($pullRequest in $pullRequests)
            <li class="#if($pullRequest.complete)completed#end">
                <div class="view">
                    <label>$pullRequest.title</label>
                </div>
            </li>
        #end
    </ul>