<div class="card">
  <div class="card-header">Github Open PR's</div>
  <div class="card-body">
    #foreach($pullRequest in $pullRequests)
    <div
      class="alert #if($pullRequest.mergeable)alert-success #else alert-danger #end">
      $pullRequest.title - $pullRequest.mergeable</div>
    #end
  </div>
</div>