<section id="main" ic-include='{"status":"$status"}'>
    <input type="checkbox" name="toggle-all" ic-put-to="/todos/toggle_status" id="toggle-all" #if($allComplete) checked #end>
    <ul id="todo-list">
        #foreach($pullRequest in $pullRequests)
            <li class="#if($todo.complete)completed#end">
                <div class="view">
                    <input type="checkbox" class="toggle" ic-put-to="/todos/$todo.id/toggle_status" #if($todo.complete)checked#end>
                    <label ic-get-from="/todos/$todo.id/edit" ic-target="closest li" ic-trigger-on="dblclick" ic-replace-target="true">$todo.title</label>
                    <button class="destroy" ic-delete-from="/todos/$todo.id"></button>
                </div>
            </li>
        #end
    </ul>
</section>